@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Alegreya-VariableFont_wght.woff2) format('woff2');
}
@font-face {
    font-family: 'Alegreya';
    font-style: italic;
    font-display: swap;
    src: url(/fonts/Alegreya-Italic-VariableFont_wght.woff2) format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/SourceCodeVF-Upright.otf.woff2) format('woff2');
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-display: swap;
    src: url(/fonts/SourceCodeVF-Italic.otf.woff2) format('woff2');
}

@font-face {
    font-family: 'Noto Emoji';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/NotoEmoji-VariableFont_wght.woff2) format('woff2');
}

@counter-style cstyle {
    system: extends decimal;
    suffix: "\2002";  // 2002 is an en-dash
}

img {
    max-height: 30em;
    object-fit: contain;
    width: 100%;
}

$font-size: 16pt;
$font-size-code: 10pt;
$p-line-height: 1.5em;
$title-font-scale: 2.25em;
$h1-font-scale: 1.5em;
$h2-font-scale: 1.125em;
$h3-font-scale: 0.875em;
$p-font-scale: 0.75em;

img.limit_height {
    max-height: $p-line-height * 10;
}

images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: $p-line-height;
    align-items: flex-start;
    flex-wrap: wrap;
}

html {
    font-family: 'Alegreya', 'Noto Emoji', serif;
    font-size: $font-size;
    font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures contextual;
    font-variant-numeric: oldstyle-nums;
}

body {
    font-size: 100%;
}

#header {
    font-variant-caps: small-caps;
    line-height: 1em;

    .logo {
        font-family: inherit;
        font-weight: 600;

        a {
            font-size: $title-font-scale;
            line-height: $p-font-scale * $p-line-height * 3 / $title-font-scale;  /* takes three P-lines */
        }
    }
    .menu {
        font-family: inherit;

        ul li a {
            font-size: $p-font-scale;
            line-height: $p-line-height;
        }
    }
}

num-lin-prop {
    display: inline;
    font-variant-numeric: lining-nums proportional-nums;
}

num-lin-tab {
    display: inline;
    font-variant-numeric: lining-nums tabular-nums;
}

num-old-prop {
    display: inline;
    font-variant-numeric: oldstyle-nums proportional-nums;
}

num-old-tab {
    display: inline;
    font-variant-numeric: oldstyle-nums tabular-nums;
}

main {
    .pagination {
        font-family: inherit;
        font-size: $p-font-scale;
        line-height: $p-line-height;
    }

    .about, .post {
        padding: $p-font-scale / 1em * $p-line-height;
        line-height: 1em;

        .post__title {
            font-family: inherit;
        }

        .read-more a {
            font-family: inherit;
            font-size: $p-font-scale;
            line-height: $p-line-height;
        }

        code {
            background: none;
            hyphens: none;
            -moz-hyphens: none;
            -ms-hyphens: none;
            -webkit-hyphens: none;
            word-break: break-word;
        }

        b {
            font-weight: 600;
        }

        p, ol, ul {
            hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            -webkit-hyphens: auto;
            text-align: justify;
        }

        p, ol, ul, .post__meta, table {
            font-size: $p-font-scale;
            line-height: $p-line-height;

            ol, ul {
                font-size: 1em;
                line-height: $p-line-height;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: $p-line-height;
            }
        }

        table {
            thead, tr:hover {
                background: none;
            }
            th {
                font-weight: 600;
                text-align: left;
            }
            th, td {
                border: none;
                padding: $p-line-height / 2;
            }

            th[align="right"], td[align="right"] {
                text-align: right;
            }

            th[align="left"], td[align="left"] {
                text-align: left;
            }

            th[align="center"], td[align="center"] {
                text-align: justify;
            }

            box-shadow: none;
        }

        $blockquote-border-factor: 0.1;
        blockquote {
            background: none;
            padding: $p-line-height / 2;
            font-size: $p-font-scale;
            padding-left: $p-line-height / 2 - $p-line-height * $blockquote-border-factor;
            box-shadow: none;
            border-left: ($p-line-height * $blockquote-border-factor) solid black;

            * {
                font-size: 1em;
            }
        }

        p {
            margin: 0;

            + p {
                text-indent: $p-line-height;

                img {
                    margin-left: -$p-line-height;
                }
            }

            img {
                font-size: inherit;
                line-height: inherit;
            }
        }

        img {
            font-size: $p-font-scale;
            line-height: $p-line-height;
        }

        ol, ul, img, table, blockquote, .katex-display {
            margin: $p-line-height 0;
        }

        ol, ul {
            list-style-position: outside;
            padding-left: 0;
        }

        ol {
            list-style-type: cstyle;

            li::marker {
                font-variant-numeric: oldstyle-nums tabular-nums;
            }
        }

        ul {
            list-style-type: '•\2002';  // 2002 is an en-dash
        }

        pre {
            $pre-line-height: $p-line-height * ($p-font-scale / 1em) * $font-size / $font-size-code;
            padding: $pre-line-height;
            line-height: $pre-line-height;
            margin: $pre-line-height 0;

            code {
                padding: 0;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            font-variant-caps: small-caps;
            font-variant-numeric: lining-nums;
            font-weight: 400;

            .zola-anchor {
                color: inherit;
            }

            + p {
                img, .katex-display {
                    margin-top: 0;
                }
            }

            + ol, + ul, + img, + pre, + table, + blockquote {
                margin-top: 0;
            }
        }

        h1 {
            font-size: $h1-font-scale;
            line-height: $p-font-scale * $p-line-height * 2 / $h1-font-scale;  /* takes two P-lines */
            margin-top: $p-font-scale * $p-line-height / $h1-font-scale;  /* takes one P-line */
        }
        h2 {
            font-size: $h2-font-scale;
            line-height: $p-font-scale * $p-line-height * 2 / $h2-font-scale;  /* takes two P-lines */
            margin-top: $p-font-scale * $p-line-height / $h2-font-scale;  /* takes one P-line */
            margin-bottom: 0;
        }
        h3 {
            font-size: $h3-font-scale;
            line-height: $p-font-scale * $p-line-height * 2 / $h3-font-scale;  /* takes two P-lines */
            margin-top: $p-font-scale * $p-line-height / $h3-font-scale;  /* takes one P-line */
            margin-bottom: 0;
        }
        h4, h5, h6 {
            font-size: $p-font-scale;
            line-height: $p-line-height;
            margin: $p-line-height 0;
        }

        .footnote-definition {
            padding-left: 0;
            font-size: $p-font-scale;
            line-height: $p-line-height;
            display: flex;

            p {
                font-size: 1em;
            }

            sup.footnote-definition-label {
                display: inline-block;
                text-align: right;
                position: relative;
                right: $p-line-height / 2;
                width: 0;
                font-variant-numeric: oldstyle-nums tabular-nums;
                font-size: 1em;
                line-height: $p-line-height;
            }
            sup.footnote-definition-label::after {
                content: none;
            }
        }

        .footnote-definition:first-of-type {
            border-top: none;
            margin-top: $p-line-height * 2;
            padding-top: 0;
        }
    }
}

.post-toc {
    box-shadow: none;
    line-height: 1em;

    .post-toc-title {
        text-transform: none;
        font-variant-caps: small-caps;
        font-weight: 400;

        font-size: $h2-font-scale;
        line-height: $p-font-scale * $p-line-height * 2 / $h2-font-scale;  /* takes two P-lines */
    }

    .post-toc-content {
        font-size: $p-font-scale;
        line-height: $p-line-height;

        ul {
            list-style-type: '•\2002';  // 2002 is an en-dash
        }
    }
}

pre, code, pre > code {
    font-family: 'Source Code Pro';
    font-size: $font-size-code;
    font-weight: 400;
}

.katex {
    font-size: 1em;
}

abbr {
    font-variant-caps: all-small-caps;
}
