{% extends "even/templates/index.html" %}
{% block extra_head %}
{% include "common.html" %}
{% endblock %}


{% block title %}{{config.title}} - Not Found{% endblock title %}

{% block content %}

<article class="post">
    <h1>Not Found</h1>
    <div class="post-content">
        <p>The page you are looking for was not found. <a href="/">Return to the index.</a></p>
    </div>
</article>

{% endblock content %}
