<link rel="stylesheet" href="{{ get_url(path="overwrites.css", trailing_slash=false) }}">
{% if page.title %}

<meta property="og:title" content="{{ config.title }} - {{ page.title }}" />
{% else %}
<meta property="og:title" content="{{ config.title }}" />
{% endif %}
{% if page.description %}
<meta property="og:description" content="{{ page.description }}" />
{% endif %}
{% if page.extra.image %}
{% set image_abspath = page.path ~ page.extra.image %}
{% set image_resized = resize_image(path=image_abspath, width=config.extra.images_default_size, op="fit_width") %}
<meta property="og:image" content="{{ image_resized.url }}" />
<meta property="og:image:width" content="{{ image_resized.width }}" />
<meta property="og:image:height" content="{{ image_resized.height }}" />
{% endif %}
{% if current_url %}
<meta property="og:url" content="{{ current_url }}" />
{% endif %}
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ config.title }}" />
<meta property="og:lang" content="en" />

<meta name="fediverse:creator" content="@crepererum@mastodon.online" />

<script>
function adjust_element(element, one_line) {
    let current_height = element.getBoundingClientRect().height;
    if (one_line === null) {
        element.style.marginBottom = null;
    } else {
        let too_much = current_height % one_line;
        if (too_much != 0) {
            let to_add = one_line - too_much;
            // assume we want to have have a bottom margin in [1 lines, 2 lines)
            element.style.marginBottom = (one_line + to_add) + "px";
        }
    }

    // adjust <p> elements after
    let p = element;
    while (p && (p.tagName != "P")) {
        p = p.parentNode;
    }
    if (p && (p.childElementCount == 1)) {
        let p_next = p.nextElementSibling;
        if (p_next && (p_next.tagName == "P")) {
            p_next.style.textIndent = 0;
        }
    }
}

function adjust_katex(one_line) {
    for (let container of document.getElementsByClassName("post")) {
        for (let element of container.getElementsByClassName("katex-display")) {
            adjust_element(element, one_line);
        }
    }
}

function adjust_images(one_line) {
    for (let container of document.getElementsByClassName("post")) {
        for (let element of container.getElementsByTagName("img")) {
            adjust_element(element, one_line);
        }
    }
}

function adjust_all(one_line) {
    adjust_katex(one_line);
    adjust_images(one_line);
}

function adjust_layout(e) {
    let test_p = document.createElement("p");
    test_p.appendChild(document.createTextNode("test"));
    test_p.style.opacity = 0;
    test_p.style.position = "absolute";
    test_p.style.zIndex = -1;

    // Is this an ordinary page?
    let targets = document.getElementsByClassName("post-content");
    if (targets.length > 0) {
        // Found post content, use that one (should only be a single one, but use the last one just to be sure).
        targets[targets.length - 1].appendChild(test_p);
    } else {
        // Might be the overview / index page then...
        let targets = document.getElementsByClassName("post__summary");
        if (targets.length > 0) {
            // ... it is.
            targets[targets.length - 1].appendChild(test_p);
        } else {
            // ... no, report an error then.
            console.error("Cannot find target element to measure 1em");
        }
    }

    setTimeout(function(){
        let one_line = test_p.getBoundingClientRect().height;
        test_p.remove();

        adjust_all(one_line);
    }, 1);
}

function readjust_layout(e) {
    adjust_all(null);
    setTimeout(adjust_layout, 1);
}

document.addEventListener("DOMContentLoaded", adjust_layout);
window.addEventListener("resize", readjust_layout);
</script>
