{% extends "even/templates/index.html" %}
{% block js %}
  <script src="/js/slideout.min.js"></script>

  {% if config.extra.katex_enable %}
  <script defer src="/js/katex.min.js"></script>
      {% if config.extra.katex_auto_render %}
  <script defer src="/js/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
      {% endif %}
  {% endif %}

{% endblock js %}

{% block css %}
  <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) }}">
  {% if config.extra.katex_enable %}
  <link rel="stylesheet" href="/css/katex.min.css">
  {% endif %}
{% endblock css %}

{% block extra_head %}
{% include "common.html" %}
{% endblock %}
