{% macro title(page) %}
    <header class="post__header">
        <h1 class="post__title">
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </h1>
        <div class="post__meta">
            {% if page.updated %}
                <span class="post__time" title="updated"><del>{{ page.date | date(format="%F") }}</del> {{ page.updated | date(format="%F") }}</span>
            {% else %}
                <span class="post__time" title="published">{{ page.date | date(format="%F") }}</span>
            {% endif %}
            {% if page.category %}
                <div class="post__category">
                    <a href="{{ get_taxonomy_url(kind="category", name=page.category) }}">{{ page.category }}</a>
                </div>
            {% endif %}
        </div>
    </header>
{% endmacro title %}
